# Node.js
node_modules/
npm-debug.log


# OS-specific files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Environment variables
.env

# Build directories
dist/
build/

# IDE or Editor files
.vscode/
.idea/


# Package lock files (if using Yarn)
package-lock.json

